{% extends "storage_capacity_service/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block styles %}
{{ block.super }}
<link href="{% static 'storage_capacity_service/css/main.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'storage_capacity_service/vendor/openlayers/v3.5.0-dist/ol.css' %}" type="text/css" />
<style>
    .ol-mouse-position {
      top: 10px;
      right: 40px;
    }
</style>
{% endblock %}

{% block app_navigation_items %}

{% gizmo text_input damHeight %}

{% gizmo text_input interval %}

{% gizmo button btnSearch %}

<div id="display-status"></div>

{% endblock %}

{% block app_content %}

<div class="col-md-8" id="map"></div>

<div class="col-md-4" id="sc_chart"></div>

{% endblock %}

{% block app_actions %}
{% endblock %}

{% block scripts %}
<script src="{% static 'storage_capacity_service/vendor/highcharts/highcharts.js' %}" type="text/javascript"></script>
<script src="{% static 'storage_capacity_service/vendor/highcharts/exporting.js' %}" type="text/javascript"></script>
<script src="{% static 'storage_capacity_service/vendor/highcharts/export-csv.js' %}" type="text/javascript"></script>
  {{ block.super }}
  <script src="{% static 'storage_capacity_service/js/map.js' %}" type="text/javascript"></script>
  <script src="{% static 'storage_capacity_service/vendor/openlayers/v3.5.0-dist/ol.js' %}"></script>
{% endblock %}